/* This file is for your main application css. */


.btn-secondary{
    /* background-color: lightblue */
    background-color: #697d98
}

/* .btn-secondary:hover{
    background-color: gainsboro;
} */

.askelogo{
    z-index: 10;
    width: 100%;
    height: 100%;
    display: inline-block;
    margin-bottom: 1em;
    /* background-size: 100% 100%; */
    background-size: 2000px 4000px;
    background-image: url("/images/logo_still.png");

}

.pre-list{
    text-align: start;
}

video {
    top: 100px;
    width: 519px;
    height: 221px;

}


.grid-container{
    display: grid;
    grid-template-areas: "api-image api-link"
                         "api-image api-link";
}

.api-link {
    text-align: start;
}