/* This file is for your main application css. */


.askelogo{
    z-index: 10;
    width: 100%;
    height: 100%;
    display: inline-block;
    margin-bottom: 1em;
    background-size: 100% 100%;
    background-image: url("/images/logo_still.png");

}

.pre-list{
    text-align: start;
}

video {
    top: 100px;
    width: 519px;
    height: 221px;

}