<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Aske API - An ASCII API Experiment </title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="askelogo">
    <div class="container">
      <header class="header">

          <video playsinline autoplay loop>
    <source src="/images/logo.webm">
      </video>

      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script type="text/javascript">
      let js_map = window.js_map = <%= raw Poison.encode!(%{foo: 42,
                                                             hostname: hostname}) %>
  </script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
